<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="hostName" value="192.168.163.166"/>
    <add key="port" value="5672"/>
    <add key="userName" value="guest"/>
    <add key="password" value="guest"/>

    <!--Uri = "amqp://user:pass@hostName:port/vhost";-->
    <!--<add key="rmqUri" value="amqp://guest:guest@192.168.163.166:5672,192.168.163.165:5672"/>-->
    <add key="rmqUri" value="amqp://guest:guest@172.21.15.47:5672"/>
  </appSettings>
</configuration>